@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');


body{
    background-position: center; 
    background-color: black;
}

h2{
    font-family: 'Sawarabi Mincho';
}

.begin-instructions{
    position: relative;
    top: 270px;  
}

.wins-guesses{
    margin: 10px;
}

.game-box{
    margin: 20px;
    width: 800px;
    min-height: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgba(255,255,255,0.65)
}

.album-art{
    width: 432px;
    height: 432px;
    margin: 20px;
    border-width: 4px !important;
    border-color: black !important;
    border-radius: 30px !important;
}

.border{
    border-color: transparent !important;
    border-width: 2px !important;
    border-radius: 30px !important;
}